<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="50">
      <mat-nav-list class="nav-list">        
        <a mat-list-item class="items">
          <br>Nº Motor de Partida/Alternador
          <br><input matInput [(ngModel)]="searchCriteria.starterAlternatorCode"  placeholder=""><br><br>
        </a>
        <a mat-list-item class="items">
          Nº Original
          <br><input matInput [(ngModel)]="searchCriteria.originalCode" placeholder=""><br><br>
        </a>
        <a mat-list-item class="items">
          Nº Equivalente
          <br><input matInput [(ngModel)]="searchCriteria.code" placeholder=""><br><br>
        </a>
        <a mat-list-item class="items">
          Grupo
          <br>
          <mat-select [(ngModel)]="searchCriteria.group" (selectionChange)="onGroupChange()">
            <mat-option *ngFor="let group of groups" [value]="group.name">
              {{ group.name }}
            </mat-option>
          </mat-select><br><br>
        </a>
        <a mat-list-item class="items">
          Sub-Grupo
          <br>
          <mat-select [disabled]="!subGroups.length" [(ngModel)]="searchCriteria.subGroup" [placeholder]="subGroupPlaceholder">
            <mat-option *ngFor="let subGroup of subGroups" [value]="subGroup.name">
              {{ subGroup.name }}
            </mat-option>
          </mat-select><br><br>
        </a>
        <a mat-list-item class="items">
          Fabricante
          <mat-select [(ngModel)]="searchCriteria.manufacturer">
            <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.name">
              {{ manufacturer.name }}
            </mat-option>
          </mat-select><br><br>
        </a>
        <a mat-list-item class="items">
            Marca
            <br>
            <mat-select [(ngModel)]="searchCriteria.brand" (selectionChange)="onBrandChange()">
              <mat-option *ngFor="let brand of brands" [value]="brand.name">
                {{ brand.name }}
              </mat-option>
            </mat-select><br><br>            
          </a>
        <a mat-list-item class="items">
          Modelo
          <br>
          <mat-select [disabled]="!models.length" [(ngModel)]="searchCriteria.model" [placeholder]="modelPlaceholder">
            <mat-option *ngFor="let model of models" [value]="model.name">
              {{ model.name }}
            </mat-option>
          </mat-select><br><br>
        </a>
        <a mat-list-item class="items">
            <button mat-raised-button class="button" (click)="onSearch()" type="submit">
              Pesquisar
            </button> 
            <br>
            <button mat-raised-button class="button" (click)="clearSearch()" type="button">
              Limpar
            </button>         
        </a><br>